@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins:ital,wght@1,900&display=swap');
html,
body {
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  font-family: Poppins;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

button {
  border-radius: 50%;
  height: 15em;
  width: 15em;
  outline: none;
  background-color: #b22222;
  border: none;
  box-shadow: 0 9px #999;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h1 {
  color: white;
  text-shadow: 3px 3px 0 #333, -1px -1px 0 #333, 1px -1px 0 #333,
    -1px 1px 0 #333, 1px 1px 0 #333;
  padding: 0;
  margin: 0;
  font-size: 4em;
  word-wrap: break-word;
  text-align: center;
}
